<div class="back ">
    <div class="py-3 px-4">
        <div class="row">
            <div class="col-12 col-sm-3 col-lg-12">
                <p class="fs-6 fs-lg-4 text-start mb-0 text-blue ">Lorem Ipsum <sup class="d-inline d-sm-none"><button class="btn p-0" (click)="viewpara()"><i class="bi bi-chevron-up"></i></button></sup></p>
                <hr class="mt-0 d-none d-lg-block">
                <h5 class="text-blue fw-normal d-block d-sm-none">Apply in minutes. Get a decision in seconds.</h5>
                <p class="d-block d-sm-none text-uppercase text-white text-1">special offer for you</p>
            </div>
            <div class="col-sm-9 col-lg-12" *ngIf="hide">
                <p class="d-none d-sm-block text-uppercase text-white text-1">special offer for you</p>
                <p class="text-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <hr class="m-0">
                <p class="mt-1">$295 Annual Fee</p>
            </div>
        </div>
    </div>
</div>
